#root {
  text-align: center;
}

.custom-cursor {
  cursor: url("/hati.svg"), auto;
}

.tech-marquee {
  animation: scrollLeft 50s linear infinite;
  width: max-content;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.tech-marquee:hover {
  animation-play-state: paused;
  cursor: grab;
}
